<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
    <div class="card ms-3 me-3">
        <div class="card-body" th:if="${contact}">
            <div class="container text-center">
                <img src=""
                     style="height: 200px; width: 200px;"
                     class="my-profile-picture"
                     th:src="@{'/img/contactImage/'+${contact.imageUrl}}"
                >
                <h3 class="mt-3">
                    <span th:text="${contact.name}"></span> (<span th:text="${contact.secondName}"></span>)
                </h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="col">#ID:</th>
                        <th scope="col"><span th:text="'SCM-'+${contact.cId}"></span></th>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td><span th:text="${contact.email}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td><span th:text="${contact.phone}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Work</th>
                        <td><span th:text="${contact.work}"></span></td>
                    </tr>
                    </tbody>
                </table>
                <div class="description">
                    <th:block th:utext="${contact.description}"/>
                </div>
                <div class="container d-grid gap-2 col-6 mx-auto">
                    <form th:action="@{'/user/update-contact/'+${contact.cId}}" method="post" class="d-grid">
                        <button type="submit" class="btn btn-block btn-primary btn-sm">Update</button>
                    </form>
                    <button th:onclick="|deleteContact(${contact.cId})|" class="btn btn-danger btn-sm btn-block">
                        Delete
                    </button>

                </div>
            </div>
        </div>
        <h1 class="text-center" th:unless="${contact}">You don't have permission to see this contact...</h1>
    </div>


</section>
</body>
</html>