<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
    <div class="card ml-3 ms-3">
        <div class="card-body">
            <h1 class="text-center">Your Contacts</h1>

            <!--Search-->
            <div class="search-container my-4">
                <input onkeyup="search()" id="search-input" type="text" class="form-control"
                       placeholder="Search your contact">
                <!--Search result goes here-->
                <div class="search-result">


                </div>
            </div>

            <div class="div table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${contacts}">
                        <th scope="row" th:text="${'SCM-'+c.cId}">1</th>

                        <td>
                            <img class="my-profile-picture" th:src="@{'/img/contactImage/'+${c.imageUrl}}"/>
                            <span th:text="${' '+c.name}"></span>
                        </td>

                        <td>
                            <a th:href="@{'/user/'+${c.cId}+'/contact'}">
                                <span th:text="${c.email}"></span>
                            </a>

                        </td>
                        <td th:text="${c.phone}">@mdo</td>
                        <td>
                            <!-- <a th:href="@{'/user/delete/'+${c.cId}}" class="btn btn-danger btn-sm">Delete</a> -->
                            <a th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm">Delete</a>
                            <!--Post request handler-->
                            <form th:action="@{'/user/update-contact/'+${c.cId}}" method="post" class="mt-2">
                                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </form>
                            <!-- <button class="btn btn-info btn-sm">Update</button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <!--Pagination start-->
            <div class="container text-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled':''}">
                            <a class="page-link" th:href="@{'/user/show-contacts/'+ ${currentPage -1}}" href="#">Previous</a>
                        </li>
                        <li class="page-item"
                            th:classappend="${currentPage == i -1 ? 'active':''}"
                            th:each=" i: ${#numbers.sequence(1,totalPage)}">
                            <a class="page-link" th:href="@{'/user/show-contacts/'+${i -1}}"
                               href="#"><span th:text="${i}"></span></a>
                        </li>
                        <li th:classappend="${currentPage +1 == totalPage ? 'disabled':''}" class="page-item">
                            <a class="page-link" th:href="@{'/user/show-contacts/'+ ${currentPage +1}}"
                               href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--<h1 th:text="${(#lists.size(contacts))}">You don't have any Contact!!</h1>-->
        </div>

    </div>

    <script>
        $(document).ready(() => {
            $(".item").removeClass("active");
            $("#show-contacts-link").addClass("active");
        })
    </script>

</section>


</body>
</html>