body{
    background: darkgray;
}
.bg-custom-primary{
    background: #8e24aa;
}
.banner{
    width: 100%;
    height: 93vh;
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../img/banner.png);
    color: white;
    background-size: cover;
}
.my-card{
    padding: 20px;
    background: white;
    border-radius: 20px;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 700px;
    height: 420px;
    border: 1px solid #9C9C9C;
    background-color: white;
    border-radius: 20px;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -55px;
}

