<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card mt-4">
                    <div class="alert text-center"
                         th:if="${session.message}"
                         th:classappend="${session.message.type}"
                         role="alert">
                        <p th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"/>
                    </div>
                    <div class="container text-center">
                        <img style="width: 80px" src="" th:src="@{/img/signup.png}" alt="">
                    </div>
                    <h1 class="text-center">SignUp Here!!</h1>
                    <form action="" th:action="@{/do_register}" method="post" th:object="${user}">
                        <!-- name field-->
                        <div class="mb-3">
                            <label for="name_field" class="form-label">Name</label>
                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   id="name_field"
                                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
                                   placeholder="Enter your name"
                                   th:value="${user.name}"
                                   required="required"
                                   aria-describedby="emailHelp">
                            <div class="invalid-feedback"
                                 th:each="e:${#fields.errors('name')}"
                                 th:text="${e}">
                            </div>
                        </div>
                        <!-- Email field-->
                        <div class="mb-3">
                            <label for="email_field" class="form-label">Email Address</label>
                            <input type="text"
                                   name="email"
                                   th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
                                   class="form-control"
                                   id="email_field"
                                   required="required"
                                   placeholder="Enter your Email"
                                   th:value="${user.email}"
                                   aria-describedby="emailHelp">
                            <div class="invalid-feedback"
                                 th:each="e:${#fields.errors('email')}"
                                 th:text="${e}">
                            </div>
                        </div>
                        <!-- Password field-->
                        <div class="mb-3">
                            <label for="password_field" class="form-label">Password</label>
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   id="password_field"
                                   required="required"
                                   placeholder="Enter your password"
                                   th:value="${user.password}"
                                   th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
                                   aria-describedby="emailHelp">
                            <div class="invalid-feedback mb-3"
                                 th:each="e:${#fields.errors('password')}"
                                 th:text="${e}">
                            </div>
                        </div>
                        <!-- About field-->
                        <div class="form-floating mb-3 mt-3">
                            <textarea class="form-control"
                                      name="about"
                                      placeholder="Leave a comment here"
                                      id="about_field"
                                      required="required"
                                      th:value="${user.about}"
                                      th:text="${user.about}"
                                      style="height: 100px"></textarea>
                            <label for="about_field">Enter Something about yourself !!</label>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox"
                                   name="agreement"
                                   class="form-check-input"
                                   required="required"
                                   id="agreement">
                            <label class="form-check-label" for="agreement">Terms & Condition</label>
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn bg-custom-primary text-white">Submit</button>
                            <button type="reset" class="btn btn-info text-white">Reset</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>